html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#header {
	width: 100%;
	position: fixed;
	height: 100px;
	z-index: 9999;
	background-color: white;
	display: block;
	border-bottom: solid 1px grey;
	box-shadow: 0 5px 5px -2px #787878;
	-moz-box-shadow: 0 5px 5px -2px #787878;
	-webkit-box-shadow: 0 5px 5px -2px #787878;
}

#footballpicture {
	margin-top: 10px;
	margin-left: 130px;
	height: 70px;
	float: left;
}

#headercontent {
	width: 800px;
	margin: 0 auto;
	
}

#header h3, #header h2 {
	font-size: 24px;
	font-family: 'IM Fell Great Primer';
	margin-top: 5px;
	margin-left: 500px;
	margin-bottom: 5px;
}

#header h2 {
	font-size: 30px;
	margin-top: 10px;
}

.pointentry {
	overflow: auto;
	padding-top: 130px;
	height: 360px;
}

.entry {
	display: flex;
	flex-direction: row;
	width: 675px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.passingentry input[type="text"], .rushingentry input[type="text"] {
	margin-left: 25px;
	width: 50px;
	background-color: #66FF66;
	border: solid 1px #66FF66;
	box-shadow: inset -1px -1px 2px #009933;
	font-size: 16px;
	font-family: "Slabo";
}

input[type="text"]:focus {
	box-shadow: inset 2px 2px 5px #009933;
} 

.passingentry, .rushingentry {
	width: 225px;
	margin-top: 5px;
}

.submit {
	margin-top: 10px;
	padding: 2px;
	border: none;
	margin-bottom: 10px;
}

input[type="submit"] {
	padding: 3px;
	font-family: 'IM Fell Great Primer';
	background-color: #009933;
	font-size: 22px;
	border: none;
	box-shadow: 0 5px #66FF66;

}

input[type="submit"]:hover {
	background-color: #66FF66;
	box-shadow: 0 5px #009933;
}

input[type="submit"]:active {
	background-color: #66FF66;
	box-shadow: 0 1px #009933;
	margin-top: 4px;
}

.title, .toprow, .passyds, .tpassyds, .passtouch, .tpasstouch, .rushyds, .trushyds, .rushtouch, .trushtouch, .ints, .tints, .fumb, .tfumb, .teamname, .tteam, .name, .tname {
	padding: 0;
	border: 0;
	margin: 0;
}

#players {
	display: flex;
	flex-direction: column;
	width: 674px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.newPlayer1, .newPlayer2 {
	display: flex;
	width: 670px;
	height: 25px;
	text-align: right;
	font-family: "Slabo";
	font-size: 18px;
	border-top: solid 1px black;
}

.newPlayer1 {
	background-color: lightyellow;
}

.newPlayer2 {
	background-color: lightblue;
}

.title, .toprow {
	display: flex;
	font-family: "Slabo";
	font-size: 16px;
	font-weight: bold;
	width: 670px;
	height: 22px;
	background-color: lightgrey;
}

.toprow {
	text-align: center;
}

.blank {
	width: 270px;
	border-right: solid 1px black;
}

.passingstats, .rushingstats {
	border-right: solid 1px black;
}

.passingstats {
	width: 150px;
}

.rushingstats {
	width: 105px;
}

.biggerspace {
	width: 135px;
}

.name, .teamname {
	text-align: left;
	font-family: "IM Fell Great Primer";
}

.name, .tname {
	width: 185px;
	padding-left: 5px;
}

.teamname, .tteam {
	width: 50px;
	padding-left: 5px;
}

.passtouch, .tpasstouch, .rushtouch, .trushtouch, .ints, .tints, .fumb, .tfumb, .recs, .trecs, .trectouch, .rectouch, .rbtrushtouch  {
	width: 45px;
	text-align: right;
}

.passyds, .tpassyds, .rushyds, .trushyds, .trecyds, .recyds {
	width: 60px;
	text-align: right;
}

.fantasypoints, .tfantasypoints {
	width: 90px;
	text-align: right;
}

.space, .tspace {
	width: 5px;
}

.rank, .trank {
	font-family: "Slabo";
	text-align: right;
	width: 30px;
}

.tteam, .tints, .trushtouch, .trectouch {
	border-right: solid 1px black;
}

.tints, .ints, .tfumb, .fumb, .passyds, .tpassyds, .passtouch, .tpasstouch, .rushyds, .trushyds, .rushtouch, .trushtouch, .trecs, .recs, .trectouch, .rectouch, .recyds, .trecyds, .rbtrushtouch {
	padding-right: 5px;
}

.space, .name, .teamname, .passyds, .passtouch, .ints, .rushyds, .rushtouch, .fumb, .recs, .rectouch, .recyds {
	border-right: dashed 1px grey;
}

.rbrushingstats {
	width: 105px;
	border-right: solid 1px black;
}

.rbtrushtouch {
	border-right: solid 1px black;
}

.rbreceivingstats {
	border-right: solid 1px black;
	width: 150px;
	text-align: center;
}